yfinance
pandas
numpy
tqdm
yahoo-finance
requests
requests-cache
pandas-datareader
stockstats
Jinja2
matplotlib
mplfinance
schedule
python-dotenv
pytz
yahoo_earnings_calendar
ccxt
dataset
tweepy
peewee
dotmap
flatten-dict
python-telegram-bot
justpy
finta
slug
finvizfinance
squarify
py-executable-checklist==1.4.0
backtrader[plotting]
quantstats
ib_insync
ib_async
pandasai
gradio
seaborn
git+https://github.com/namuan/persistent-cache
